@font-face {
    font-family: 'Highway Gothic';
    src: url('./fonts/HWYGOTH.ttf');
    /* font-weight: 400; */
}

.readout {
    font-family: 'Highway Gothic', initial;
    font-size: 100px;
}

.readout-units {
    font-family: 'Highway Gothic', initial;
    font-size: 32px;
}

.readout-distance {
    font-family: 'Highway Gothic', initial;
}